@import (less) "src/ixult/css/styles.less";
@import (less) "src/ixult/css/fileicons.less";

/*************************************************************
 * File Uploader
 *************************************************************/
.ixultUiFileUploader {
}

.ixultUiFileUploaderDragDropText {
}

.ixultUiFileUploaderLabel {
    padding: 0.5rem 0.5rem 0 0;
}

.ixultUiFileUploaderInput {
    .sapMBtnIcon {
        padding-right: 4px;
    }
}

.ixultUiFileUploaderButton,
.sapUiSizeCompact .ixultUiFileUploaderButton {
    padding-left: 0.25rem;
}

.ixultUiFileUploaderDragArea {
    border: 3px dashed @sapBrandColorDarkest;
    background: repeating-linear-gradient(135deg,
    @sapUiBrandColorSoft 0px,
    @sapUiBrandColorSoft 5px,
    @sapUiBrandColorSoftest 5px,
    @sapUiBrandColorSoftest 10px);
}


