@import (less) "src/ixult/css/styles.less";

/*************************************************************
 * ERROR DIALOG
 *************************************************************/
.ixultMErrorDialog {
    
    .ixultUiErrorIcon {
        color: darkred;
    }
    
    .sapMFlexBox {
        padding: 1rem;
    }
    
    .sapMPanelHdr {
        border: none;
        font-size: small;
    }
    
    .sapMText {
        padding-bottom: 0.25rem;
    }
    
}
