/*************************************************************
 * General
 *************************************************************/
.ixultUiBgTransparent {
  background-color: transparent !important;
  border: none !important;
}
.ixultUiNoBorderTop {
  border-top: none !important;
}
.ixultUiPaddingLeftSmall {
  padding-left: 0.5rem;
}
.ixultUiPaddingRightSmall {
  padding-right: 0.5rem;
}
.ixultUiPaddingRightSmaller {
  padding-right: 0.25rem;
}
/*************************************************************
 * Texts
 *************************************************************/
.ixultUiBoldText {
  font-weight: bold;
}
.ixultUiSmallText {
  font-size: small !important;
}
.ixultUiXSmallText {
  font-size: x-small !important;
}
.ixultUiXxSmallText {
  font-size: xx-small !important;
}
/*************************************************************
 * ERROR DIALOG
 *************************************************************/
.ixultMErrorDialog .ixultUiErrorIcon {
  color: darkred;
}
.ixultMErrorDialog .sapMFlexBox {
  padding: 1rem;
}
.ixultMErrorDialog .sapMPanelHdr {
  border: none;
  font-size: small;
}
.ixultMErrorDialog .sapMText {
  padding-bottom: 0.25rem;
}
