@import (less) "../css/base.less";

/*************************************************************
 * Table
 *************************************************************/

/*************************************************************
 * Column
 *************************************************************/
.ixultMColumn {

}

.ixultMFilterableColumn,
.ixultMSortableColumn {
  cursor: pointer;

  > * {
    cursor: pointer;
  }

  .sapMColumnHeader:hover {
    cursor: pointer;
    background-image: none;
    background-color: @sapBrandColor;
    border-color: @sapBrandColorLightest;
  }
}

.sapUiSizeCompact .ixultMColumn {

}

/*************************************************************
 * ColumnSortButton
 *************************************************************/
.ixultMColumnSortButton {
  width: 100%;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;

  .sapMBtnTransparent {
    color: #333333;

    .sapMBtnContentRight {
      padding-left: 1.2rem !important;
    }
  }

  .sapMBtnInner {
    border: 0;
    background: transparent;
    text-align: left;
  }

  .sapMBtnIcon {
    padding: 0;
    margin: -2px 2px;
  }
}

.sapUiSizeCompact .ixultMColumnSortButton {
  height: 1.875rem;

  .sapMBtnInner {
    height: 1.5rem;
    min-width: 1rem;
  }

  .sapMBtnText {
    padding-left: 0;
    padding-right: 0;
  }

  .sapMBtnIcon {
    font-size: 1rem !important;
    line-height: 1.75rem;
    padding-left: 0.375rem !important;
    padding-right: 0 !important;
  }
}

.sapMListTblSubCntRow .sapMListTblSubCntHdr {
  .ixultMColumnSortButton {
    padding: 0 0 10px 0px;

    .sapMBtn,
    .sapMBtnContent {
      height: 1.2rem !important;
      line-height: 1.4rem !important;
      padding-bottom: 0 !important;
      vertical-align: text-bottom !important;
    }

    .sapMBtnInner {
      padding: 0 !important;
      height: 0.8rem;
    }

    .sapMBtnIcon {
      display: none;
    }
  }

  .ixultMColumnSortButton:hover {
    background-color: transparent;

    .sapMBtnInner {
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }
}

