/*************************************************************
 * General
 *************************************************************/
.ixultUiBgTransparent {
  background-color: transparent !important;
  border: none !important;
}
.ixultUiNoBorderTop {
  border-top: none !important;
}
.ixultUiPaddingLeftSmall {
  padding-left: 0.5rem;
}
.ixultUiPaddingRightSmall {
  padding-right: 0.5rem;
}
.ixultUiPaddingRightSmaller {
  padding-right: 0.25rem;
}
/*************************************************************
 * Texts
 *************************************************************/
.ixultUiBoldText {
  font-weight: bold;
}
.ixultUiSmallText {
  font-size: small !important;
}
.ixultUiXSmallText {
  font-size: x-small !important;
}
.ixultUiXxSmallText {
  font-size: xx-small !important;
}
/*************************************************************
 * PLUGINS
 *************************************************************/
.sapMPluginsColumnResizerContainer {
  position: relative;
}
.sapMPluginsColumnResizerResizing {
  cursor: col-resize;
}
.sapMPluginsColumnResizerResizable {
  border-right: 1px solid #e5e5e5;
}
.sapMPluginsColumnResizerHandle {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: -10000px;
  width: 0.1875rem;
  padding: 0 0.125rem;
  margin-left: -0.25rem;
  cursor: col-resize;
  background-clip: content-box;
  background-color: #1c7925;
  -webkit-user-select: none;
  user-select: none;
}
.sapMPluginsColumnResizerHandleCircle {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: -0.4375rem;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: 0.125rem solid #26a232;
  background: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  margin-top: -0.125rem;
}
.sapMPluginsColumnResizerSizeDetector {
  position: absolute;
  left: -1000px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}
/*************************************************************
 * GENERAL
 *************************************************************/
.ixultUiPaddingRightSmall {
  padding-right: 0.5rem;
}
.ixultUiPaddingRightSmaller {
  padding-right: 0.25rem;
}
.ixultUiPaddingLeftSmall {
  padding-left: 0.5rem;
}
.ixultUiPaddingLeftSmaller {
  padding-left: 0.25rem;
}
/*************************************************************
 * Table
 *************************************************************/
.ixultMTable.sapMSticky > .sapMListTbl {
  padding: 0;
}
.ixultMTable .sapMListTbl {
  box-shadow: 1px 1px 5px darkgrey;
}
.ixultMTable .sapMListTblCellDupCnt {
  display: none;
}
.ixultMTable tr.ixultUiBusyIndicator td {
  opacity: 0.1;
}
.ixultMTable .sapMTableTH {
  border-bottom: 1px solid #d9d9d9;
}
.ixultMTable .ixultMFooter {
  background-color: #f2f2f2;
}
.ixultMTable .ixultMStickyFooter {
  position: sticky;
  bottom: 0;
  z-index: 1;
}
/*************************************************************
 * Column
 *************************************************************/
.ixultMColumn * {
  white-space: nowrap;
  cursor: pointer;
}
.ixultMColumn .ixultMColumnHeaderCenter {
  justify-content: center !important;
  text-align: center !important;
}
.ixultMColumn .sapMColumnHeader:before {
  font-family: 'SAP-icons';
  font-size: 0.5rem;
  vertical-align: top;
  line-height: 0.5rem;
  padding: 0 0.25rem 0 0;
}
.ixultMColumn[data-ui-filtered="true"] .sapMColumnHeader:before {
  content: '';
}
.ixultMColumnFilterable .sapMColumnHeader:hover,
.ixultMColumnSortable .sapMColumnHeader:hover {
  cursor: pointer;
  background-image: none;
  background-color: #abd19c;
  box-shadow: 0 2px #26a232;
}
/*************************************************************
 * Column Popover
 *************************************************************/
.ixultMColumnHeaderPopover {
  padding: 0.25rem;
}
.ixultMColumnHeaderPopover .ixultMColumnHeaderSortButton .sapMBtnInner,
.ixultMColumnHeaderDialog .ixultMColumnHeaderSortButton .sapMBtnInner {
  justify-content: left;
}
.ixultMColumnHeaderPopover .ixultMColumnHeaderSortButton .sapMBtnIcon,
.ixultMColumnHeaderDialog .ixultMColumnHeaderSortButton .sapMBtnIcon {
  padding-left: 0.125rem;
  padding-right: 1rem;
}
.ixultMColumnHeaderPopover .ixultMColumnHeaderSortButtonBox,
.ixultMColumnHeaderDialog .ixultMColumnHeaderSortButtonBox {
  padding: 0.25rem 0.25rem;
}
.ixultMColumnHeaderPopover .ixultMColumnHeaderFilterInputBox,
.ixultMColumnHeaderDialog .ixultMColumnHeaderFilterInputBox {
  border: 1px solid #f2f2f2;
  padding: 0;
}
.ixultMColumnHeaderPopover .ixultMColumnHeaderFilterInputBox .ixultMColumnHeaderFilterInfoToolbar,
.ixultMColumnHeaderDialog .ixultMColumnHeaderFilterInputBox .ixultMColumnHeaderFilterInfoToolbar {
  height: 1.25rem;
  padding: 0.25rem 0 0 0;
}
.ixultMColumnHeaderPopover .ixultMColumnHeaderFilterInputBox .ixultMColumnHeaderFilterInfoToolbar .sapMLabel,
.ixultMColumnHeaderDialog .ixultMColumnHeaderFilterInputBox .ixultMColumnHeaderFilterInfoToolbar .sapMLabel {
  font-size: 0.7rem;
  font-weight: bold;
}
/*************************************************************
 * TimeInput
 *************************************************************/
.ixultMTimeInputPopover {
  padding: 0.25rem;
}
.ixultMTimeInputPopover .sapMPopoverScroll {
  margin: 1px !important;
}
.ixultMTimeInputPopover .ixultMTimeInputPopoverContent {
  border-bottom: 1px solid #f2f2f2;
}
.ixultMTimeInputPopover .ixultMTimeInputPopoverActions {
  padding: 0 0.25rem;
}
.ixultMTimeInputPopover .sapMPopoverArrDown {
  bottom: -8px;
}
.ixultMTimeInputPopover .ixultMTimeInputPreview,
.ixultMTimeInputDialog .ixultMTimeInputPreview {
  /*
        margin: 0.5rem 1rem;
        padding: 0.5rem;
        background: @sapUiInputDisabledBackgroundColor;
        border: .0625rem solid @sapUiInputDisabledBorderColor;
        border-radius: .125rem;
        line-height: 1.25rem;
    
        .sapMText {
          padding: 0 0 0 1rem;
          font-size: 1rem;
          text-align: center;
          letter-spacing: 0.5rem;
        }
        */
}
.ixultMTimeInputPopover .ixultMTimeInputPreview .ixultMPreviewToggleButton,
.ixultMTimeInputDialog .ixultMTimeInputPreview .ixultMPreviewToggleButton {
  padding: 0.25rem;
}
.ixultMTimeInputPopover .ixultMTimeInputButtons,
.ixultMTimeInputDialog .ixultMTimeInputButtons {
  padding: 0.25rem 0.5rem;
}
.ixultMTimeInputPopover .ixultMTimeInputButtons .ixultMTimeInputIconButton .sapMBtnIcon.sapMImg,
.ixultMTimeInputDialog .ixultMTimeInputButtons .ixultMTimeInputIconButton .sapMBtnIcon.sapMImg {
  height: 100% !important;
}
.ixultMTimeInputPopover .ixultMTimeInputButtons .sapMBtn,
.ixultMTimeInputDialog .ixultMTimeInputButtons .sapMBtn {
  padding: 0.125rem;
  width: 3rem;
}
.ixultMTimeInputPopover .ixultMTimeInputButtons .sapMBtn[data-ui-full-height='true'],
.ixultMTimeInputDialog .ixultMTimeInputButtons .sapMBtn[data-ui-full-height='true'] {
  height: 100%;
}
.ixultMTimeInputPopover .ixultMTimeInputButtons .sapMBtn[data-ui-full-height='true'] .sapMBtnInner,
.ixultMTimeInputDialog .ixultMTimeInputButtons .sapMBtn[data-ui-full-height='true'] .sapMBtnInner,
.ixultMTimeInputPopover .ixultMTimeInputButtons .sapMBtn[data-ui-full-height='true'] .sapMBtnContent,
.ixultMTimeInputDialog .ixultMTimeInputButtons .sapMBtn[data-ui-full-height='true'] .sapMBtnContent {
  height: 100%;
}
/*************************************************************
 * Clipboard
 *************************************************************/
/*************************************************************
 * JSONViewer
 *************************************************************/
.ixultMJSONViewer .sapMPanelHdr,
.ixultMJSONViewer .sapMPanelWrappingDiv,
.ixultMJSONViewer .sapMPanelContent {
  border: none;
}
.ixultMJSONViewer .sapMPanelContent {
  padding: 0rem 1rem;
  font-size: x-small;
}
.ixultMJSONViewer .ixultMJSONViewerContent {
  padding: 0 0.5rem !important;
}
.ixultMJSONViewer .ixultMJSONViewerToolbar {
  border: none;
}
/*************************************************************
 * ixultMMarkdownViewer
 *************************************************************/
.ixultMMarkdownViewer .sapMPanelHdr,
.ixultMMarkdownViewer .sapMPanelWrappingDiv,
.ixultMMarkdownViewer .sapMPanelContent {
  border: none;
}
.ixultMMarkdownViewer .sapMPanelContent {
  padding: 0rem 1rem;
  font-size: x-small;
}
.ixultMMarkdownViewer .ixultMMarkdownViewerContent {
  padding: 0 0.5rem 1rem 0.5rem !important;
}
.ixultMMarkdownViewer .ixultMMarkdownViewerToolbar {
  border: none;
}
