@import (less) "src/ixult/css/styles.less";

/*************************************************************
 * PLUGINS
 *************************************************************/
@import (less) "./plugins/library.less";

/*************************************************************
 * GENERAL
 *************************************************************/
.ixultUiPaddingRightSmall {
    padding-right: 0.5rem;
}

.ixultUiPaddingRightSmaller {
    padding-right: 0.25rem;
}

.ixultUiPaddingLeftSmall {
    padding-left: 0.5rem;
}

.ixultUiPaddingLeftSmaller {
    padding-left: 0.25rem;
}

/*************************************************************
 * Table
 *************************************************************/
.ixultMTable.sapMSticky > .sapMListTbl {
    padding: 0;
}

.ixultMTable {
    .sapMListTbl {
        box-shadow: 1px 1px 5px darkgrey;
    }
    
    .sapMListTblCellDupCnt {
        display: none;
    }
    
    tr.ixultUiBusyIndicator td {
        opacity: 0.1;
    }
    
    .sapMListTblHeader {
    }
    
    .sapMTableTH {
        border-bottom: 1px solid @sapUiTableBorderColor;
    }
    
    .ixultMFooter {
        background-color: @sapUiTableLightColor;
    }
    
    .ixultMStickyFooter {
        position: sticky;
        bottom: 0;
        z-index: 1;
    }
}

.sapUiSizeCompact .ixultMTable {

}

/*************************************************************
 * Column
 *************************************************************/
.ixultMColumn {
    * {
        white-space: nowrap;
        cursor: pointer;
    }
    
    .ixultMColumnHeaderCenter {
        justify-content: center !important;
        text-align: center !important;
    }
    
    .sapMColumnHeader:before {
        font-family: 'SAP-icons';
        font-size: 0.5rem;
        vertical-align: top;
        line-height: 0.5rem;
        padding: 0 0.25rem 0 0;
    }
}

.ixultMColumn[data-ui-filtered="true"] .sapMColumnHeader:before {
    content: '';
}

.ixultMColumnFilterable,
.ixultMColumnSortable {
    .sapMColumnHeader:hover {
        cursor: pointer;
        background-image: none;
        background-color: @sapBrandColorLightest;
        box-shadow: 0 2px @sapBrandColor;
    }
}

.sapUiSizeCompact .ixultMColumn {

}

/*************************************************************
 * Column Popover
 *************************************************************/
.ixultMColumnHeaderPopover {
    padding: 0.25rem;
}

.ixultMColumnHeaderPopover,
.ixultMColumnHeaderDialog {
    .ixultMColumnHeaderSortButton .sapMBtnInner {
        justify-content: left;
    }
    
    .ixultMColumnHeaderSortButton .sapMBtnIcon {
        padding-left: 0.125rem;
        padding-right: 1rem;
    }
    
    .ixultMColumnHeaderSortButtonBox {
        padding: 0.25rem 0.25rem;
    }
    
    .ixultMColumnHeaderFilterInputBox {
        border: 1px solid @sapUiTableLightColor;
        padding: 0;
        
        .ixultMColumnHeaderFilterInfoToolbar {
            height: 1.25rem;
            padding: 0.25rem 0 0 0;
            
            .sapMLabel {
                font-size: 0.7rem;
                font-weight: bold;
            }
        }
    }
}

/*************************************************************
 * TimeInput
 *************************************************************/
.ixultMTimeInputPopover {
    padding: 0.25rem;
    
    .sapMPopoverScroll {
        margin: 1px !important;
    }
    
    .ixultMTimeInputPopoverContent {
        border-bottom: 1px solid @sapUiTableLightColor;
    }
    
    .ixultMTimeInputPopoverActions {
        padding: 0 0.25rem;
    }
    
    .sapMPopoverArrDown {
        bottom: -8px;
    }
}

.ixultMTimeInputPopover,
.ixultMTimeInputDialog {
    .ixultMTimeInputPreview {
        .ixultMPreviewToggleButton {
            padding: 0.25rem;
        }
        
        .ixultMPreviewSwitch {
        
        }
        
        /*
        margin: 0.5rem 1rem;
        padding: 0.5rem;
        background: @sapUiInputDisabledBackgroundColor;
        border: .0625rem solid @sapUiInputDisabledBorderColor;
        border-radius: .125rem;
        line-height: 1.25rem;
    
        .sapMText {
          padding: 0 0 0 1rem;
          font-size: 1rem;
          text-align: center;
          letter-spacing: 0.5rem;
        }
        */
    }
    
    .ixultMTimeInputButtons {
        padding: 0.25rem 0.5rem;
        
        .ixultMTimeInputIconButton .sapMBtnIcon.sapMImg {
            height: 100% !important;
        }
        
        .sapMBtn {
            padding: 0.125rem;
            width: 3rem;
        }
        
        .sapMBtn[data-ui-full-height='true'] {
            height: 100%;
            
            .sapMBtnInner,
            .sapMBtnContent {
                height: 100%;
            }
        }
    }
}


/*************************************************************
 * Clipboard
 *************************************************************/
.ixultMClipboardPopover {

}


/*************************************************************
 * JSONViewer
 *************************************************************/
.ixultMJSONViewer {
    
    .sapMPanelHdr,
    .sapMPanelWrappingDiv,
    .sapMPanelContent {
        border: none;
    }
    
    .sapMPanelContent {
        padding: 0rem 1rem;
        font-size: x-small;
    }
    
    .ixultMJSONViewerContent {
        padding: 0 0.5rem !important;
    }
    
    .ixultMJSONViewerToolbar {
        border: none;
    }
}

/*************************************************************
 * ixultMMarkdownViewer
 *************************************************************/
.ixultMMarkdownViewer {
    
    .sapMPanelHdr,
    .sapMPanelWrappingDiv,
    .sapMPanelContent {
        border: none;
    }
    
    .sapMPanelContent {
        padding: 0rem 1rem;
        font-size: x-small;
    }
    
    .ixultMMarkdownViewerContent {
        padding: 0 0.5rem 1rem 0.5rem !important;
    }
    
    .ixultMMarkdownViewerToolbar {
        border: none;
    }
}
