@sapBrandColor: #26a232;
@sapBrandColorLightest: #abd19c;
@sapBrandColorDarkest: #1c7925;
@sapUiBrandColorSoft: rgba(red(@sapBrandColorLightest), green(@sapBrandColorLightest), blue(@sapBrandColorLightest), 0.2);
@sapUiBrandColorSoftest: rgba(red(@sapBrandColorLightest), green(@sapBrandColorLightest), blue(@sapBrandColorLightest), 0.1);

@sapUiBackgroundColor: rgba(255, 255, 255, 0.8);

@sapUiTableLightColor: #f2f2f2;
@sapUiTableBorderColor: #d9d9d9;

@sapUiInputDisabledBackgroundColor: #f2f2f2;
@sapUiInputDisabledBorderColor: #89919a;

