@import (less) "src/ixult/css/base.less";

/*************************************************************
 * General
 *************************************************************/
.ixultUiBgTransparent {
    background-color: transparent !important;
    border: none !important;
}

.ixultUiNoBorderTop {
    border-top: none !important;
}

.ixultUiPaddingLeftSmall {
    padding-left: 0.5rem;
}

.ixultUiPaddingRightSmall {
    padding-right: 0.5rem;
}

.ixultUiPaddingRightSmaller {
    padding-right: 0.25rem;
}


/*************************************************************
 * Texts
 *************************************************************/
.ixultUiBoldText {
    font-weight: bold;
}

.ixultUiSmallText {
    font-size: small !important;
}

.ixultUiXSmallText {
    font-size: x-small !important;
}

.ixultUiXxSmallText {
    font-size: xx-small !important;
}